{% extends "admin/base.html" %}

{% block extrahead %}
{{block.super}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <style>
    .running {
      background-color: red;
    }
    .finished {
      background-color: green;
    }
    h1
    {
      color: black;
    }
  </style>
{% endblock %}

{% block pretitle %}
  <h1>Run task</h1>
  <button id="run-task-btn" class="btn btn-primary">Run task</button>
  <script>
    var btn = document.getElementById("run-task-btn");
    btn.addEventListener("click", function() {
      btn.classList.add("btn-success");
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "run_task/");
      xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
      xhr.send();
      xhr.onreadystatechange = function() {
        if (xhr.readyState == XMLHttpRequest.DONE) {
          btn.classList.remove("btn-success");
          btn.classList.add("btn-danger");
        }
      };
    });
  </script>
  {{block.super}}
{% endblock %}