{% extends "admin/base.html" %}

{% block extrahead %}
  <style>
    .running {
      background-color: yellow;
    }
    .finished {
      background-color: green;
    }
  </style>
{% endblock %}

{% block content %}
  <h1>Run task</h1>
  <button id="run-task-btn">Run task</button>
  <script>
    var btn = document.getElementById("run-task-btn");
    btn.addEventListener("click", function() {
      btn.classList.add("running");
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "run_task/");
      xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
      xhr.send();
      xhr.onreadystatechange = function() {
        if (xhr.readyState == XMLHttpRequest.DONE) {
          btn.classList.remove("running");
          btn.classList.add("finished");
        }
      };
    });
  </script>
{% endblock %}